.shop-page {
  padding: 60px 0;
  background: #f8fafc;
}

.shop-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.products-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}


@media(max-width: 900px){
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media(max-width: 500px){
  .products-grid {
    grid-template-columns: 1fr;
  }
}