.search {
  width: 100%;
  padding: 70px 0;
  background: #f8fafc;
}

.search-container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.search-container h2 {
  font-size: 38px;
  color: #111827;
  margin-bottom: 30px;
}

.search-box {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.search-box input {
  flex: 1;
  padding: 16px 20px;
  font-size: 16px;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.search-box input:focus {
  border-color: #2563eb;
}

.search-box button {
  padding: 16px 30px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.search-box button:hover {
  background: #1d4ed8;
}

@media (max-width: 768px) {

  .search-container h2 {
    font-size: 30px;
  }

  .search-box {
    flex-direction: column;
  }

  .search-box button {
    justify-content: center;
  }

}